.b1{
    border: 2px solid red;
    margin: 2px;
    width:100px;
    float:left;
}
.b2{
    border: 2px solid red;
    margin: 2px;
    width:100px;
    float:right;
}
.b3{
    border: 2px solid red;
    margin: 2px;
    width:100px;
    float:both
}